*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container{
       max-width: 800px;
       margin: auto;
}

/**.pic{
    background: url("http://thephideltlegacy.com/education/presidents/andrew_sledd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5; 
    z-index: -1;
} **/

/**.pic img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
    z-index: -1;
}**/

h1{
    color: #ffffff;
    text-transform:  uppercase;
    text-align: center;
    font-family: 'Kumar One', cursive;
    font-size:3em;
    letter-spacing: 0.02em;
    word-spacing: 0.12em;
    padding: 2em;
    background-color: #ff9230;
    

}

p{
 color: #986645;
 margin: 2em;
 line-height: 1.3em;
 font-family: 'Nunito', sans-serif;
}

.from {
    font-size: 13px;i
    text-align: center
}